nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        color: white;
        padding: 10px;
    }

    a:hover {
        color: aquamarine;
        transform: scale(1.1);
    }
}